<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<!-- ユーザーの詳細 -->
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name</p>
  <h3><%= @user.name %></h3>
  <p>introduction</p>
  <h3><%= @user.introduction %></h3>
  
  <p><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></p>
  
</div>

<!-- ユーザーの投稿一覧 -->
<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <p>投稿ユーザー画像：<%= image_tag "no_image.jpg" %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
    <%= link_to book_path(book.id) do %>
      <p>タイトル：<%= book.title %></p>
    <% end %>
    <p>Opinion：<%= book.body %></p>
  </div>
<% end %>