<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<!--投稿詳細画面-->
<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h1>Book detail</h1>
<div>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>ユーザーネーム：<%= @book_detail.user.name %></p>
  <%= link_to book_path(@book_detail.id) do %>
    <p>タイトル：<%= @book_detail.title %></p>
  <% end %>
  <p>Opinion：<%= @book_detail.body %></p>
  
  <% if @book_detail.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book_detail.id) %>
    <%= link_to "Destry", book_path(@book_detail.id), method: :delete %>
  <% end %>
</div