<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/left.html.erb', user: @user, book: @book  %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100,100) %></br>
              <% end %>
              <%= link_to user_path(@user.id) do %>
                <%= @user.name %>
              <% end %>
              
            </td>
            <td>
              <%= link_to book_path(@book_detail.id) do %>
                <%= @book_detail.title %>
              <% end %>
            </td>
            <td><%= @book_detail.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h1>Book detail</h1>
<div>
  <p>投稿ユーザー画像：<%= image_tag @user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @book_detail.user.name %></p>
  <%= link_to book_path(@book_detail.id) do %>
    <p>タイトル：<%= @book_detail.title %></p>
  <% end %>
  <p>Opinion：<%= @book_detail.body %></p>
  
  <% if @book_detail.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book_detail.id) %>
    <%= link_to "Destry", book_path(@book_detail.id), method: :delete %>
  <% end %>
</div